/* .IMG{
    padding: 0 !important;
    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(../images/IMG_0913.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
} */

.IMG{
    padding: 0% !important;
}
/* navbar css */
.navbar {
    margin: 0;
    padding:0;
    background-color: transparent !important;
    transition: 0.2s ease-in;
}

.navbar.scrolled{
    background: black !important;
}

    
.navbar-brand img{
    width: 80px;
    height: auto;
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
     filter: drop-shadow(5px 5px 5px #222);
}

.navLinks ul{
    list-style: none;
}
.navLinks li{
    display: inline-block;
    text-align: center;
    
}

.navLinks li a {
    border: 1px ;
    padding: 4px;
    text-decoration: none;
    color:white;
    font-size:large;
}
.navLinks li a:hover {
    border: 1px;
    padding: 4px;
    border-radius: 5px;
    transition: all 0.2s ease 0s;
    color:  #e32636;
    background-color: white ;
}

/* navbar end */


 .footer{
     background-color:black ;
     padding-top: 5px;
     color: white;
 }
 .footer p{
     color: white;
     text-decoration: none;
     display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
 }
 .footer a{
     color: whitesmoke;     
}
.footer i{
    font-size: 24;
    margin-right: 10px;
}

.footer a:hover, i :hover,p :hover{
  color: #e32636;
  text-decoration: none;
}


 .carousel{
    box-shadow: 0 0 20px 7px rgba(0,0, 0, 0.1);
}

 .imgCard{
     overflow: hidden;
 }

 .imgCard img{
     transition: all 1s ease;
 }

 .imgCard:hover img{
     transform: scale(1.5);
 }
 
 .card{
     margin: 20px;
 }

 .card-body{
     box-shadow: 0 0 2px 2px rgba(0,0, 0, 0.1);
 }
 

/* scroll reveal */

 .scroll-reveal {

	animation: fadeAndSlide 0.7s ease-in-out forwards;

}

@keyframes fadeAndSlide {

	from {

		opacity: 0;
	}

	to {

		opacity: 1;

	}

}

/* Change navbar styling on small viewports */
@media (max-width: 988px) {
   
    .bg-dark{
        background:#e32636 !important;
    }
    .collapse, .navbar-collapse{
        background:#e32636 !important;
        
    }
    .navbar-brand img{
        width: 60px;
        height: auto;
    }
    .navLinks li{
        margin: 10px;
    }
    
    
}


@media (max-width: 320px) {
   
    .navbar{
        background:#e32636 !important;
    }
    .collapse, .navbar-collapse{
        background:#e32636 !important;
        
    }
    .navLinks li{
        margin: 10px;
    }
    .card{
        margin: 5px;
    }
    
}



