body{
    background-color: rgb(0, 0, 0,0.9);
}

.loginCard{
    margin: 10% auto;
    border: 1px;
    border-radius: 5px;
    padding: 30px 20px;
    background-color: white;
    box-shadow: 0 0 10px 2px rgba(0,0, 0, 0.1);
}

.loginCard h3{
    color: #e32636;
}

.text-secondary{
    text-decoration: none !important;
}
.navbar{
    padding: 0;
    margin: 0;
    background-color: rgb(0, 0, 0,0.9) !important;
}

.navbar-brand img{
    width: 150px;
    height: auto;
    margin: 5px;
    padding-left: 40px;
    -webkit-filter: drop-shadow(2px 2px 2px #222 );
    filter: drop-shadow(2px 2px 2px #222);
}
.logged_in a{
  padding-left: 20px;
}
.nav-item a:hover{
    color:  #e32636 !important;
}

.navbar-nav li{
    display: inline-block;
    text-align: center;
    padding-right: 12px;
}
.nav-link{
    color: #ffffff;
}
.nav-link:hover{
    color: #E63946;
}
.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
    padding: 50px 0 0 10px;
    border-right: 1px solid #d3d3d3;
  }

  .sidebar a:hover{
      color: #E63946 !important ;
  }
  .left-sidebar {
    position: sticky;
    top:0;
    height: calc(100vh - 80px)
  }
  .sidebar-nav li .nav-link {
    color: #333;
    font-weight: 500;
  }
  .container-fluid{
    margin-top: 100px;
  }
.logged_in{
  display: none;
}
.log_in{
  display: none;
}
main{
  color: white;
}
table, thead, tbody, tr, td{
  color: white;
}
.modal-body{
  text-align: center;
  background-color: rgba(255,0,0,0.9);
  font-weight: 500;
  border-radius: 1%;
  font-size: 20px;
}
.modal-body{
  text-align: center;
  background-color: rgba(0,255,0,0.9);
  font-weight: 500;
  border-radius: 1%;
  font-size: 20px;
}
input {
  font-family: 'FontAwesome','Helvetica Neue',Helvetica, Arial,sans-serif;
}

.ProgressCircleBar{
  margin-left: 400px;
}

 .round{
  min-height: 255px;
  margin-top: 30px;
  position: relative;
  margin-bottom: 20px;
}
 .round strong{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -70px;
  transform: translate(-50%);
  font-size: 40px;
  color: white;
  font-weight: 100;
}
.round1{
 min-height: 255px;
 margin-top: 30px;
 position: relative;
 margin-bottom: 20px;
}
.round1 strong{
 position: absolute;
 top: 50%;
 left: 50%;
 margin-top: -70px;
 transform: translate(-50%);
 font-size: 40px;
 color: white;
 font-weight: 100;
}
.completeProgress{
  margin-top: 20px;
  margin-right: 120px;
}
.pendingProgress{
  margin-top: 20px;
  margin-bottom: 10px;
}
