body
{
    margin: 0px;
    padding: 0px;
    background: #ffffff;
    font-size: 16px;
    color: rgb(14, 13, 13);
    font-family: sans-serif;
    font-weight: 300;
    background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

/* navbar css */
.navbar {
    margin: 0;
    padding:0;
}


.navbar-brand img{
    width: 80px;
    height: auto;
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
     filter: drop-shadow(5px 5px 5px #222);
}

.navLinks ul{
    list-style: none;
}
.navLinks li{
    display: inline-block;
    text-align: center;
    padding-right: 15px;
}

.navLinks li a {
    border: 1px ;
    padding: 4px;
    text-decoration: none;
    color:white;
    font-size:large;
}
.navLinks li a:hover {
    border: 1px;
    padding: 4px;
    border-radius: 5px;
    transition: all 0.2s ease 0s;
    color:  #e32636;
    background-color: white ;
}

.bg-dark{
    background-color: #e32636 !important;
}

/* navbar end */


.login-container:hover,
.signup-container:hover{
    box-shadow: 0 25px 25px 0 rgba(0,0,0,0.3);
}

.login-container
{
    margin: 13% auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background: #fff;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 35px;
    width: 300px;
    height: 350px;
}
.login-container a{
  text-decoration: none;
  font-family: sans-serif;
  font-size: 90%;
  color: rgb(0, 153, 59);
}

h1
{
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}

input[type="text"],
input[type="password"],
input[type="email"]
{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 8px;
    width: 220px;
    height: 32px;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
    border-radius: 15px;
    border-color: rgba(255, 100, 30);
}

input[type="submit"]
{
    margin-bottom: 28px;
    width: 120px;
    height: 32px;
    background: rgba(0, 153, 255, 0.979);
    border: none;
    border-radius: 25px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;

}

input[type="submit"]:hover,
input[type="submit"]:focus
{
    background: rgb(0, 132, 255);
    transition: 0.2s ease;
}
@media (max-width: 320px) {
  .login-container{
    margin-top: 40% auto;
  }
}
